{% extends "layout.html" %}

{% block content %}

<form action="" method="post" name="page_url">

		{{ form.hidden_tag() }}

	<p>
		{{ form.url(size=80) }}
		{% for error in form.url.errors %}
			<span style="color: red;">[{{error}}]</span>
		{% endfor %}
	</p>

	{% for t in form.tags %}
	<tr>
		<td><input type=checkbox name=filters value="{{ t }}"></td>
		<td>{{ t }}</td>
	</tr>
	{% endfor %}

	{% for s in form.specials %}
	<tr>
		<td><input type=checkbox name=specials value="{{ s }}"></td>
		<td>{{ s }}</td>
	</tr>
	{% endfor %}
			
	<p><input type="submit" name="render_html" value="Scrape HTML"></p>
	<p><input type="submit" name="render_text" value="Scrape Text"></p>
	<p><button type="reset">Reset Form</button></p>

</form>

<div>

{{ result|safe }}

{% endblock %}