{% extends "layout.html" %}

{% block content %}

<form action="" method="post" name="page_url">

		{{ form.hidden_tag() }}

	<p>
		{{ form.url(size=80) }}
		{% for error in form.url.errors %}
			<span style="color: red;">[{{error}}]</span>
		{% endfor %}
	</p>

	{% for p in form.properties %}
	<tr>
		<td><input type=checkbox name=filters value="{{ p }}"></td>
		<td>{{ p }}</td>
	</tr>
	{% endfor %}
			
	<p><input type="submit" name="render_html" value="Scrape HTML"></p>
	<p><input type="submit" name="render_text" value="Scrape Text"></p>

</form>

{% endblock %}